<div class="all">
<h3>Reviews</h3>
   <div class="main_rewiews" >
      <div>
        <span class="main_star">★★★★☆</span>
        <br>
        <span>2021-02-08</span>
        <br>
        
        <span class= "reviews">Good</span> 
      </div>
  </div>
<br>
<span>___________________________</span>
  <h4>WRITE A CUSTOMER REVIEW</h4>
  <div class="customer">
    <span>Please <a _ngcontent-eeo-c75="" routerlink="login" routerlinkactive="" class="nav__link" ng-reflect-router-link="login" ng-reflect-router-link-active="" href="/login"><i _ngcontent-eeo-c75="" class="fas fa-user"></i> sign in </a> to write a review</span>
  </div>
   
</div>



  
 

    
      