.all{
   width: 50%;
   padding: 10px;
   background-color: rgb(218, 214, 214);
   
}



.main_star{
   color: rgb(250, 246, 45);
};



.customer{
  
   width: 60%;
   padding: 7px;
   position:absolute;
   background-color: aqua;
}
