.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto 15px auto;
    width: 90%;
    max-width: 1100px;
    
    .carousel-inner {
        height: 400px;

        h2 {
            margin: 20px auto 5px auto;
            font-weight: normal;
            width: fit-content;
            color: white;
            font-size: 30px;
        }

        img{
            margin-top: 30px;
        }

        * {
            margin: auto;
        }
    }

    height: 400px;
    background-color: #3b3b3b;
}

.product {
    width: 300px;
    border-radius: 50%;
}
.loader-container {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 99;

    &::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
        stroke: rgb(13, 99, 212);
    }
 }