<div class="product">
   <!-- !loader -->

   <div *ngIf='loaderservice.isLoading | async' class="loader-container">
      <mat-spinner style="top: 0%; left: 35%"></mat-spinner>
   </div>
   
   <!-- !loader -->
   <div class="product__item" (click)='goToProd(product._id)'>
      <img src="https://nodejs-final-mysql.herokuapp.com{{product.image}}" alt="Img" class="product__img"
         *ngIf='product'>
      <p>{{product.name}}</p>
      <div class="main__rating">
         <p>
            <span class="product__star product__star{{product.rating}}"></span>
            <span class="product__review">{{product.numReviews}} reviews</span>
         </p>
      </div>
      <h4 class="product__price">$ {{product.price}}</h4>
   </div>
</div>