.product {

   &__item {
      border: 1px solid black;
      margin-top: 25px;
      padding: 30px 15px;
      text-align: center;
      min-height: 400px;
   }
  &__img {
     margin: 0 auto 20px auto;
     display: block;
     max-width: 200px;
  }
   &__review {
      font-size: 18px;
      margin-left: 10px;
   }
   &__price {
      font-size: 25px;
      font-weight: 650;
   }
   &__rating {
      margin: 10px 0;
      text-align: center;
   }
   &__star {
      color: rgb(17, 0, 255);
      font-size: 20px;
   }

   &__star0:before {
      content: '☆☆☆☆☆';
   }
   &__star1:before {
      content: '★☆☆☆☆';
   }

   &__star2:before {
      content: '★★☆☆☆';
   }
   &__star3:before {
      content: '★★★☆☆';
   }
   &__star4:before {
      content: '★★★★☆';
   }
   &__star5:before {
      content: '★★★★★';
   }
}

.loader-container {
   position: absolute;
   width: 100%;
   height: 100%;
   opacity: 0.8;
   z-index: 99;

   &::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
       stroke: rgb(13, 99, 212);
   }
}
